@import "../../node_modules/bulma/bulma.sass";
@import "./fonts.scss";
@import "./variables.scss";

html,
body {
    height: 100vh;
    font-family: 'FreePixel', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
}

button {
    margin: 1em;
    font-family: 'FreePixel', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.border {
    border: black solid 1px;
    border-radius: 0.5em;
}

.main-margin-top {
    margin-top: $main-margin-top;
}

.main-margin {
    margin: $main-margin;
}

.main-padding {
    padding: $main-padding;
}

.center {
    text-align: center;
}

.navbar {
    border-bottom: lightgray solid 1px;
}
